*{
    font-family: sans-serif;
}

#wrapper {
    display: flex;
    justify-content: center;
}

.fondoIconos{
    width: 746px;
    height: 110px;
    flex-shrink: 0;
    background: #FE50CE;
}

.iconsUp{
    width: 150px;
    height: 100px;
    flex-shrink: 0;
}

.buttonMenu i {
    font-size: 80px;
}

.buttonBell i{
    font-size: 80px;
}

.buttonUser i{
    font-size: 80px;
}

.rectangleMonto{
    width: 373px;
    height: 225px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FE50CE;
}