* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #000;
    height: 100vh;
    display: flex;  
    justify-content: center;
    align-items: center;
    color: #fff;
}

.container {
    width: 350px;
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px /* #39ff14 */ #fff;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
    color: /*# 39ff14 */ #fff;
}

.button-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente los enlaces */
    gap: 20px; /* Espacio entre los botones */
    margin-top: 20px; /* Espacio arriba del contenedor de botones */
}

button {
    border-radius: 10px;
    padding: 30px;
    border: none;
    background-color: #fff;
    color: black;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    align-items: center;
}

a {
    text-decoration: none; /* Quitar subrayado de los enlaces */
}

i{
    font-size: 24px ;
}

.bxs-bolt {
    color: #fff23c;
}

.bxs-hot{
    color: firebrick;
}

.bxs-droplet{
    color:aquamarine;
}

.btnHome{
    margin-top: 12px;
    padding: 10px;
    border: none;
    border-radius: 100%;
}

.btnHome i{
    font-size: 24px;
}

.aHome{
    margin-top: 5px;
    margin-right: 240px;
}

a:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.btnHome:hover{
    cursor: pointer;
}

.btnHome i:hover{
    color: #005ec9;
}

