* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #E7E7E7;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.container {
    width: 350px;
    background-color: #E7E7E7;
    border: 1px solid #80CBC4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.contrasenaNueva{
    width: 85%;
}

h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #3368A6;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 5px;
    border: 1px solid #80CBC4;
    background-color: #E7E7E7;
    color: #000;
    font-size: 16px;
    border-radius: 15px;
}

input::placeholder {
    color: #505050;
}

button {
    align-items: center;
    margin-top: 10px;
    width: 70%;
    padding: 12px 70px;
    border: 1px solid #000;
    border-radius: 20px;
    background-color: #80CBC4;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.password-container {
    position: relative; /* To position the icon within the input */
    width: 100%;
}

.password-container input {
    width: 100%; /* Ensure input takes full width */
}

.toggle-visibility {
    position: absolute; /* Absolute positioning for the icon */
    top: 50%;
    right: 13px; /* Adjust right spacing as needed */
    transform: translateY(-50%); /* Center vertically */
    cursor: pointer;
}

.password-container2 {
    position: relative;
    width: 100%;
}

.password-container2 input{
    width: 100%;
}

i{
    color: #3368A6;
}

.password-container2 .toggle-visibility {
    position: absolute; /* Absolute positioning for the icon */
    top: 50%;
    right: 13px; /* Adjust right spacing as needed */
    transform: translateY(-50%); /* Center vertically */
    cursor: pointer;
}

.btnHome{
    background-color: #3368A6;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 100%;
}

.btnHome i{
    color: #E7E7E7;
    font-size: 24px;
}

.aHome{
    margin: 10px;
    margin-right: 280px;
}

.aHome a{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 100%;
}

.btnHome:hover{
    color: blue;
    cursor: pointer;
}