* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #000;
    height: 100vh;
    display: flex;  
    justify-content: center;
    align-items: center;
    color: #fff;
}

.container {
    width: 350px;
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px /* #39ff14 */ #fff;
}


h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
    color: /*# 39ff14 */ #fff;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #ffffff20;
    color: #fff;
    font-size: 16px;
    border-radius: 15px;
}

input::placeholder {
    color: #ffffff20;
}

button {
    margin-top: 10px;
    margin-left: 60px;
    width: 60%;
    padding: 12px;
    border: none;
    border-radius: 20px;
    background-color: #fff;
    color: black;
    font-size: 16px;
    cursor: pointer;

    font-weight: bold;
    align-items: center;
}

.password-container {
    position: relative; /* To position the icon within the input */
    width: 100%;
}

.password-container input {
    width: 100%; /* Ensure input takes full width */
}

.toggle-visibility {
    position: absolute; /* Absolute positioning for the icon */
    top: 50%;
    right: 13px; /* Adjust right spacing as needed */
    transform: translateY(-50%); /* Center vertically */
    cursor: pointer;
}

.password-container2 {
    position: relative;
    width: 100%;
}

.password-container2 input{
    width: 100%;
}

.password-container2 .toggle-visibility {
    position: absolute; /* Absolute positioning for the icon */
    top: 50%;
    right: 13px; /* Adjust right spacing as needed */
    transform: translateY(-50%); /* Center vertically */
    cursor: pointer;
}