*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.container {
    width: 350px;
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p{
    margin-top:10px;
    margin-bottom: 5px;    
}

.montos{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    align-items: center;
}

.montos button{
    font-size: 16px;
    height: 30px;
    width: 90%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    align-items: center;
}
span{
    position: relative;
    font-weight: bold;
}
.montos button:hover{
    color: #005ec9;
}

.montos label{
    text-align: center;
    color: #005ec9;
    font-size: 40px;
}

a{
    text-decoration: none;
    color: #000;
}

a:hover{
    color: #ffff10;
    cursor: pointer;
}

.btnHome{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 100%;
}

.btnHome i{
    font-size: 24px;
}

.aHome{
    margin-top: 5px;
    margin-right: 240px;
}

a:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.btnHome:hover{
    cursor: pointer;
}

.btnHome i:hover{
    color: #005ec9;
}

.progress-bar {
    width: 0%;
    height: 30px;
    background-color: #005ec9;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 5px;
}

#btnAdd{
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

input[type="text"] {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
}

#btnContinuar{
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    bottom: 20px;
    left: 40px;
}

#lblNro{
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
}
