*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#wrapper {
    width: 350px;
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconsUp {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
}

.iconsUp i {
    font-size: 50px;
    color: #fff; 
    cursor: pointer;
}

.juntosIcons{
    display: flex;
}

.iconsUp a :hover{
    color: #14d0ff;
}

.rectangleMonto {
    display: flex;
    position: relative;
    top:20px;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 160px;
    background-color:#fff;  
    border-radius: 15px;
}

.monto {
    display: flex;
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    color: #000;
    margin-top: 63px;
    margin-left: 15px;
}

.monedas{
    display: flex;
    position: relative;
    bottom: 190px;
    left: 70px;
}

.transeferir_dinero ,
.ingresar_dinero {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #000;
}

.transeferir_dinero a,
.ingresar_dinero a {
    text-decoration: none;
    color: #fff; /* Ensure link text color is white */
    width: 100%;
    text-align: center;
    display: inline-block;
}

.rectangleMonto {
    position: relative; 
}

.btnJuntos {
    position: relative; 
    bottom: 120px; 
    left: 32.5px; 
    transform: translateX(-50%); 
    display: flex;
    gap: 10px; 
}

.transeferir_dinero, .ingresar_dinero {
    background-color: black; 
    color: #fff; 
    padding: 10px 20px; 
    border-radius: 10px; 
}

.transeferir_dinero i, .ingresar_dinero i{
    position: relative;
    left: 10px;
}

.buttons {
    display: flex;
}

.cargar_sube,
.cargar_datos,
.pagar_impuestos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    background-color: #000;
    border: none;
    border-radius: 50%;
    font-size: 12px;
    margin: 5px;
}

.cargar_sube img {
    position: relative;
    width: 70%; 
    height: 70%;
    justify-content: center;
    align-items: center;
    top:2px;
    object-fit: cover; 
    border-radius: 10%; 
}

.cargar_sube a,
.cargar_datos a,
.pagar_impuestos a {
    text-decoration: none;
    color: #fff;  
}

.pagar_impuestos i{
    font-size: 40px;
}

.cargar_sube i{
    font-size: 40px;
}

.cargar_datos i{
    font-size: 40px;
}  

.btnRectangle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    background-color:#fff;  
    border-radius: 15px;
    position:relative;
    bottom: 80px;
}

.movementsRectangle{
    position: relative;
    bottom: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    background-color:#fff;  
    border-radius: 15px;
    height: 160px;
}


