* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #E7E7E7;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

#wrapper {
    width: 350px;
    background-color: #E7E7E7;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 30px;
}

header{
    width: 100%;
}

.iconsUp {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: 53px;
    background-color: #80CBC4;
    border-bottom: 1px solid #000;
}

.iconsUp i {
    font-size: 35px;
    color:#3368A6;
    cursor: pointer;
}

.iconsUp i:hover{
    color: rgb(61, 43, 129);
}

.bx-home {
    margin-right: 200px;
}

.bx-menu:hover{
    color: rgb(61, 43, 129);
}

.juntosIcons{
    display: flex;
}

.iconsUp a :hover{
    color: rgb(61, 43, 129);
}

.rectangleMonto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 179px;
    background-color: #CCDBF7 ; 
    border: 1px solid #000;  
    border-radius: 15px; 
}

.container-saldo{
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 80%;
}

.divLbl label{
    color: #3368A6;
    font-weight: bold;
    font-size: 50px;
}

.divLbl{
    text-align: left;
    margin-left: 10px;
}

.btnRecargar {
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #84CEF8;
    color: #000;
    cursor: pointer;
}

.recargar{
    color: #000;
    position: relative;
    top: 1px;
}

.transeferir_dinero ,
.ingresar_dinero {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

.transeferir_dinero a,
.ingresar_dinero a {
    text-decoration: none;
    color: #000; 
    font-weight: bold;
    width: 100%;
    text-align: center;
    display: inline-block;
}

.btnJuntos {
    display: flex;
    margin: 8px;
    gap: 6px;
}

.transeferir_dinero, .ingresar_dinero {
    background-color: #84CEF8;
    border: 1px solid #000; 
    color: #000; 
    padding: 10px 20px; 
    border-radius: 10px; 
}

.transeferir_dinero i, .ingresar_dinero i{
    position: relative;
    left: 10px;
}

.buttons {
    display: flex;
    gap: 20px;
}

.cargar_sube,
.cargar_datos,
.pagar_impuestos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    background-color: #84CEF8;
    border: none;
    border-radius: 50%;
    font-size: 12px;
    margin: 5px;
}

.cargar_sube a,
.cargar_datos a,
.pagar_impuestos a {
    text-decoration: none;
    color: #000;  
}

.pagar_impuestos i{
    font-size: 40px;
}

.cargar_sube i{
    font-size: 40px;
}

.cargar_datos i{
    font-size: 40px;
}  

.btnRectangle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 107px;
    background-color:#fff;  
    border: 5px solid #80CBC4;
    border-radius: 15px;
    margin-top: 10px;
}

.divSube, .divPhone, .divImpuestos {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.divSube, .divImpuestos, .divPhone p{
    color: #3368A6;
    font-size: 10px;
    font-weight: bold;
}

.movementsRectangle{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    background-color:#CCDBF7;  
    border-radius: 15px;
    height: 160px;
}


#lblSaldo {
    transition: transform 0.3s ease; 
}

.low-balance {
    font-size: 50px;
}

.high-balance {
    font-size: 35px;
}

.noSaldo {
    font-size: 16px;
}

footer {
    background-color: #80CBC4;
    padding: 20px 0;
    width: 100%;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.footer-section h3 {
    margin-bottom: 15px;
    color: #000;
    font-weight: bold;
}

.footer-section p,
.footer-section a {
    font-size: 14px;
    color: #222;
}

.footer-section a {
    text-decoration: none;
    color: #000;
}

.footer-bottom {
    background-color: #222;
    padding: 10px;
    font-size: 12px;
    color: #aaaaaa;
}

.footer-section i{
    font-size: 20px;
}

#movementsRectangle {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%; /* O ajusta el porcentaje según el diseño */
    background-color: #CCDBF7;
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
}

#transactionsList {
    list-style-type: none; /* Remueve los bullets por defecto */
    padding: 0;
    margin: 0;
    width: 100%; /* Asegura que la lista ocupe todo el ancho del contenedor */
}

.transaction-item {
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.transaction-item::before {
    content: "";
    width: 8px;   
    height: 8px;  
    background-color: #3368A6; 
    border-radius: 50%; 
    margin-right: 15px;
}

.transaction-details p {
    color: #3368A6;
    font-size: 14px;
    margin: 5px 0;
    margin-left: 5px;
    font-weight: bold;
}
