body {
    font-family: sans-serif;
    background-color: #000;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%; /* Ensure full width on mobile */
    max-width: 420px; /* Set a max width for large screens */
    height: 932px; /* Set height to mimic a mobile screen */
    margin: 0 auto; /* Center the wrapper on larger screens */
    padding: 10px;
}


.iconsUp {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 10px 0;
}

.iconsUp i {
    font-size: 50px;
    color: #39ff14; 
    cursor: pointer;
}

.juntosIcons{
    display: flex;
}

.iconsUp a :hover{
    color: #14d0ff;
}

.rectangleMonto {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 180px;
    background-color:#39ff14;  
    border-radius: 20px;
    margin-bottom: 40px;
}


.monto {
    display: flex   ;
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    color: #fff;
    margin-bottom: 20px;
}
.monedas{
    display: flex;
    position: relative;
    bottom: 190px;
    left: 3px;
}


.transeferir_dinero,
.ingresar_dinero {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #000;
    color: #fff; /* Ensure text color is white */
}

/* Button Styles */
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Space buttons evenly */
    width: 100%;
    margin-top: -30px;
}

.buttons-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
}

.cargar_sube,
.cargar_datos,
.pagar_impuestos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    background-color: #39ff14;
    border: none;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
}

/* Link Styling */
.transeferir_dinero a,
.ingresar_dinero a {
    text-decoration: none;
    color: #fff; /* Ensure link text color is white */
    width: 100%;
    text-align: center;
    display: inline-block;
}
.cargar_sube img {
    position: relative;
    width: 90%; 
    height: 90%;
    justify-content: center;
    align-items: center;
    top:2px;
    object-fit: cover; 
    border-radius: 10%; 
}


.cargar_sube a,
.cargar_datos a,
.pagar_impuestos a {
    text-decoration: none;
    color: #000;  
}

.pagar_impuestos i{
    font-size: 40px;
}

.cargar_datos i{
    font-size: 40px;
}  
