/* General Styles */
body {
    font-family: sans-serif;
    background-color: #fff; /* Set background color */
}

#wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 430px;
    height: 932px;
}

/* Top Icons */
.iconsUp {
    display: flex;
    justify-content: flex-end; /* Align icons to the right */
    align-items: center;
    width: 80%;
    padding: 20px 0;
}

.iconsUp i {
    font-size: 50px;
    color: #000; /* Icon color */
    cursor: pointer;
    margin-left: 20px; /* Space between icons */
}

.iconsUp .bx-menu {
    position: relative;
    right: 145px; /* Pushes the menu icon to the left */
}

.iconsUp a :hover{
    color: blue;
}

/* Rectangle for Monto Display */
.rectangleMonto {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 180px;
    background-color:rgb(220, 0, 158);  
    border-radius: 20px;
    margin-bottom: 40px;
}

/* Monto Display */
.monto {
    position: relative;
    bottom: 180px;
    right: 120px;
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    color: #fff;
    margin-bottom: 20px;
}

/* Button Styles */
.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-top: -50px;
}

.buttons-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-top: 10px;
}

.transeferir_dinero,
.ingresar_dinero {
    display: flez;
    width: 150px; /* Adjust button width */
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: beige;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
    bottom: 145px;
    left: 33px;
}

.cargar_sube,
.cargar_datos,
.pagar_impuestos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 83px;
    flex-shrink: 0;
    position: relative;
    right: 280px;
    background-color: salmon; /* Color de fondo del botón */
    border: none;
    border-radius: 50%; /* Asegúrate de que el valor sea 50% */
    text-align: center;
    font-size: 12px;
}

.cargar_sube img {
    width: 80%; /* Ajusta el tamaño de la imagen dentro del botón */
    height: 80%;
    object-fit: cover; /* Asegura que la imagen se ajuste correctamente al botón */
    border-radius: 50%; /* Mantiene la imagen circular dentro del botón */
}

/* Link Styling */
.transeferir_dinero a,
.ingresar_dinero a,
.cargar_sube a,
.cargar_datos a,
.pagar_impuestos a {
    text-decoration: none;
    color: #000; /* Link text color */
}
