*{
    background-color: black;
    font-family: sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;    
}

h1{
    color:  #39ff14;
    text-align: center;
}

.infoPersona{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infoPersona input{
    align-items: center;
    color:black;
    background-color: #39ff14;
    border: none;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 5px;
    min-width: 75px;
    width: 100%; 
}
.infoPersona h2{
    color: #39ff14;
    text-align: center;
}

.infoPersona i{
    color: #39ff14;
    font-size: 20px;
}

.buttonLogin button{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #39ff14;
    border-radius: 20px;
    margin-top: 15px;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    transform: scale(1.05);
}

.registrarse a{
    display: flex;
    text-decoration: line;
    color: #39ff14;
    font-size:16px;
}

.olvideContraseña a{
    display: flex;
    text-decoration: line;
    color: #39ff14;
    font: 16px;
}

.links{
    display: flex;
    flex-direction: row;
    margin: 10px;
}