* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #E7E7E7;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.container {
    width: 350px;
    background-color: #E7E7E7;
    border: 1px solid #80CBC4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}


h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #3368A6;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 5px;
    border: 1px solid #80CBC4;
    background-color: #E7E7E7;
    color: #000;
    font-size: 16px;
    border-radius: 15px;
}

input::placeholder {
    color: #505050;
}

button {
    align-items: center;
    margin-top: 10px;
    width: 70%;
    padding: 12px 70px;
    border: 1px solid #000;
    border-radius: 20px;
    background-color: #80CBC4;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

p{
    margin-top: 5px;
    margin-bottom: 5px;
    color: #3368A6;
    font-weight: bold;
}

a{
    color: #3368A6;
    font-weight: bold;
}

.register-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.register-link a {
    color:#3368A6;
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}

#login-password{
    position: relative;
    left: 13px;
    width: 90%;
    padding: 10px;
    margin: 10px 5px;
    border: 1px solid #80CBC4;
    background-color: #E7E7E7;
    color: #000;
    font-size: 16px;
    border-radius: 15px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forgotPassword {
    color: #3368A6;
    text-decoration: none;
    font-weight: bold;
    margin-left: 180px;
    font-size: 14px;
    margin-bottom: 5px;
    position: relative;
    bottom: 20px;
}

.forgotPassword:hover {
    text-decoration: underline;
}

#passIconId{
    margin-left: 300px;
    position: relative;
    bottom: 37px;
    color: #3368A6;
    cursor: pointer;
}


