*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.container {
    width: 350px;
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3{
    margin: 10 0px ;
}

#inputNumber {
    margin: 10 0px;
}
#btnTranseferir{
    margin-top: 10px;
}

a{
    text-decoration: none;
    color: #000;
}

a:hover{
    color: #ffff10;
    cursor: pointer;
}

.btnHome{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 100%;
}

.btnHome i{
    font-size: 24px;
}

.aHome{
    margin-top: 5px;
    margin-right: 240px;
}

a:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.btnHome:hover{
    cursor: pointer;
}

.btnHome i:hover{
    color: #005ec9;
}

label{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.progress-bar {
    width: 0%;
    height: 30px;
    background-color: #005ec9;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 5px;
}

.transferir{
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    align-items: center;
}

.transferir button{
    font-size: 16px;
    height: 30px;
    width: 90%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    align-items: center;
}
span{
    position: relative;
    top: 5px;
}

#inputNumber {
    background: transparent; /* Sin fondo */
    border: none;
    border-radius: 10px;
    padding: 12px 16px;
    font-size: 18px;
    color: #fff; 
    outline: none; 
    transition: all 0.3s ease; 
    width: 70%; 
    box-sizing: border-box; 
    text-align: center;
}

#inputNumber:focus {
    border-color: #00d49f; 
    box-shadow: 0 0 0 2px rgba(0, 188, 212, 0.3); 
}
  
#inputNumber::placeholder {
    color: #aaa; 
    opacity: 1; 
}
  