*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.container {
    width: 350px;
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    margin-top: 5px;
    margin-bottom: 10px;
}

.btns{
    display: flex;
    margin: 10px;
    align-items: center;
}

.btns button{
    margin: 0 10px;
    border: transparent;
    border-radius: 10px ;
    padding: 15px;
}

.btns button:hover{
    color: #005ec9;
    cursor: pointer;
}

#inputSube{
    position: relative;
    left: 15px;
    border: transparent;
    border-radius: 10px;
    padding: 5px;
}

#btnGuardar{
    position: relative;
    top: 5px;
    left: 55px;
}

.btnHome{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 100%;
}

.btnHome i{
    font-size: 24px;
}

.aHome{
    margin-top: 10px;
    margin-right: 240px;
}

a:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.btnHome:hover{
    cursor: pointer;
}

.btnHome i:hover{
    color: #005ec9;
}