*{
  font-family: sans-serif;  
}

.container {
    display: flex;  
    flex-direction: column;
    align-items: center;
    margin: 10px 10px;
}

.container h1{
    font-size: 45px;
}

.infoPersona i {
    font-size: 20px;
    right: 400px;
}

.infoPersona input{
    display: flex;
    flex-direction: row;
    padding: 7px;
    margin-bottom:20px;
    border-color: #000;
    border-radius: 10px;
    align-items: center;
    left: 80px;
}

.buttonRegistrarme button{
    position: relative;
    right: 65px;
    margin-top: 10px;
    height: 30px;
    font-size: 18px;
    border-radius: 20px;
}

button:hover{
    transform: scale(1.05);
}