*{
  font-family: sans-serif;  
}

.container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 430px;
    height: 932px;
    display: flex;
}

.container h1{
    font-size: 45px;
    position: relative;
    right: 60px;
}

.infoPersona i {
    position: relative;
    bottom: -1.8px;
    font-size: 15px;
    right: 20px;
}

.infoPersona input{
    position: relative;
    width: 300px;
    height: 20px;
    margin-bottom:10px;
    border-color: #000;
    border-radius: 10px;
    align-items: center;
}

.buttonRegistrarme button{
    position: relative;
    right: 65px;
    margin-top: 10px;
    width: 200px;
    height: 30px;
    font-size: 18px;
    border-radius: 20px;
}
