#container {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 150px;
}

h1 {
    color: rgb(220, 0, 158);
}

button {
    background-color: rgb(220, 0, 158);
    border-radius: 20px;
    font-size: 20px;
    border: none;
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    text-align: center;
    top: 150px;
    left: -170px;
}

a{
    text-decoration: none;
    color: white;
}